<!--_btn.html.erb-->
<button type="button" class="btn btn--blue_dark" data-toggle="modal" data-target="#exampleModalLong">
    投稿を編集する
  </button>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">update</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%= form_with model:postProduct ,url:post_product_path, method: :patch, local:true do |f| %>
          <div class="modal-body">
            <!--https://www.tohoho-web.com/bootstrap/popovers.html ポップオーバーについて-->
            <div>
              <% postProduct.post_images.each do |image|%>
                <%= attachment_image_tag image, :image, :fill, 50, 50, class: "default_image" %>
              <% end %>
            </div>
            <div class="form-group">
            <button type="button" class="btn rounded-circle p-0" data-toggle="popover"title="写真"data-content="写真をいくつか投稿する場合は、shiftを使い、1度で選択してください。">
              <i class="far fa-question-circle"></i>
            </button>
              <%= f.label :post_images_images, "写真", class:"form-control" %>
              <%= f.attachment_field :post_images_images, multiple: true, class:"form-control" %>
            </div>
            <div class="form-group">
              <button type="button" class="btn rounded-circle p-0" data-toggle="popover"title="商品名"data-content="掲載されるお品物の名前を記入してください。もしわからない場合はご自身がわかりやすい名前を記入してください。">
                <i class="far fa-question-circle"></i>
              </button>
              <%= f.label :productName, "商品名", class:"form-control" %>
              <%= f.text_field :productName, class:"form-control", placeholder:"お品物の名前" %>
            </div>
            <div class="form-group">
              <button type="button" class="btn rounded-circle p-0" data-toggle="popover"title="メッセージ"data-content="ご自身のメモとして、投稿されるお品物の説明をお書きください。また、ご興味のある方に知って欲しいと思うことなどをご自由にお書きください。">
                <i class="far fa-question-circle"></i>
              </button>
              <%= f.label :message, "メッセージ", class:"form-control" %>
              <%= f.text_area :message, placeholder:"お品物についてのメモ書き、ご興味のある方へ伝えたいことなどお書きください。", class:"form-control form-control-lg" %>
            </div>
            <div class="form-group">
              <button type="button" class="btn rounded-circle p-0" data-toggle="popover"title="ご入手の場所、シチュエーション"data-content="ご掲載のお品物について、どこで出逢われたのかなどをお書きください。">
                <i class="far fa-question-circle"></i>
              </button>
              <%= f.label :howToGet, "お品物と出会った場所など", class:"form-control" %>
              <%= f.text_area :howToGet, class:"form-control", placeholder:"ご自由にお書きください" %>
            </div>
            <div class="form-group">
              <button type="button" class="btn rounded-circle p-0" data-toggle="popover"title="お店の名前など"data-content="お品物をご購入されたお店の名前がお分かりでしたら、お書きください。お譲りいただいたものなどの場合、大切な人からと記載するのもいいですね。">
                <i class="far fa-question-circle"></i>
              </button>
              <%= f.label :shopName, "お店の名前", class:"form-control" %>
              <%= f.text_area :shopName, class:"form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <%= link_to "削除", post_product_path(postProduct), method: :delete , data: {confirm: "投稿を本当に削除してもよろしいですか？"}, class: "btn btn-danger mr-auto"%>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'go', class: "btn btn-info" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>