<!--index.html.erb-->
<div class="container-fluid">
  <div class="row postProducts_image">
      <div class="postProducts_image_content"></div>
  </div>
  <div class="row my-5">
    <div class="col-lg-10 mx-auto card-area">
    <% @postProducts.order(updated_at: :desc).each do |postProduct| %>
      <div class="card shadow ml-5 my-5">
        <% if postProduct.post_images.first(1).present? %>
          <% postProduct.post_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, class:"card-img-top productImage postProductBookmark";%>
          <% end %>
        <% else %>
          <div class="card-img-top productImage"></div>
        <% end %>
        <div class="bookmarks btn rounded-pill shadow">
          <i class="fas fa-book-reader"></i><%= postProduct.bookmarks.count %>
        </div>
        <div class="card-body">
          <%= link_to post_product_path(postProduct.id),data: {"turbolinks" => false}, class: "stretched-link no-underline" do %>
          <% end %>
          <h5 class="card-title ml-4 mt-4 pt-2">
            <%= postProduct.productName %>
          </h5>
          <!--simple_format 改行が反映される-->
          <div class="line-clamp ml-4 card-text">
            <%= simple_format postProduct.message %>
          </div>
          <span class="readMore">read more</span>
          <div class="updatedAt">
            <%= (Date.today - postProduct.updated_at.to_date).to_i.to_s %>日前
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto text-center ">
      <%= paginate @postProducts %>
    </div>
  </div>
</div>


<!--bookmarkをつけたい場合-->
<!--<#% if end_user_signed_in? %>-->
<!--  <div id="bookmark_<%#= postProduct.id %>">-->
<!--    <div class="bookmark">-->
<!--      <%#= render "end_user/bookmarks/bookmarks", postProduct: postProduct %>-->
<!--    </div>-->
<!--  </div>-->
<!--<#% end %>-->