<div class="container my-5">
  <div class="row">
    <div class="col-md-4 col-lg-2">
      <% @postProducts.each do |postProduct| %>
      <table class="table table-bordered table-condensed mt-3">
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag postProduct.end_user, :profile_pic, :fill, 50, 50, class:"rounded-circle" %>
              <%= postProduct.end_user.nickname %>
              <p>end_user_id:<%= postProduct.end_user.id%></p>
            </td>
          </tr>
          <tr>
            <td class="img_wrap">
              <%= link_to post_product_path(postProduct.id) do %>
                <% postProduct.post_images.first(1).each do |image| %>
                  <%= attachment_image_tag image, :image, :fill, 400, 400,class: "default_image" %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr id="bookmark_<%= postProduct.id %>">
            <td class="bookmark">
              <%= render "end_user/bookmarks/bookmarks", postProduct: postProduct %>
            </td>
          </tr>
          <tr>
            <td>
              <%= postProduct.productName %>
            </td>
          </tr>
          <tr>
            <td>
              <%= postProduct.message %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>