<div class="container my-5">
  <div class="row">
    <div class="col-md-8 col-lg-8">
      <%= form_with model:@postProduct, url:post_products_path, local:true do |f| %>
      <table class="table table-bordered table-condensed mt-3">
        <tr>
          <td><%= f.attachment_field :post_images_images, multiple: true, placeholder: "post_images" %></td>
        </tr>
        <tr>
          <td><%= f.text_field :productName %></td>
        </tr>
        <tr>
          <td><%= f.text_area :message, placeholder:"自分の紹介文を書いてみましょう" %></td>
        </tr>
        <tr>
          <td><%= f.text_field :howToGet %></td>
        </tr>
        <tr>
          <td><%= f.text_field :shopName %></td>
        </tr>
        <%= f.submit 'go', class: "btn btn-success rounded-pill px4 ml-3" %>
      </table>
      <% end %>
    </div>
  </div>
</div>
