<!--top.html.erb-->
<div class="container-fluid">
  <div class="row home_image">
    <div class="home_image_content">
      <div class="home_image_text">
        <p>
          Living better is not just having more,</br>
          but being happier</br>
        </p>
        <p>
          より良い暮らしをするってことは、</br>
          お金や物をたくさん持つことじゃなくて、</br>
          より幸せであることだ
        </p>
      </div>

      <p class="home_image_text_name">
        ホセ・ムヒカ
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto card-area">
      <% @postProducts.each do |postProduct| %>
        <div class="card flex_item shadow ml-5 my-5 text-color">
          <% if postProduct.post_images.first(1).present? %>
            <% postProduct.post_images.first(1).each do |image| %>
              <%= attachment_image_tag image, :image, class:"card-img-top productImage postProductBookmark";%>
            <% end %>
          <% else %>
            <div class="card-img-top productImage"></div>
          <% end %>
          <div class="bookmarks btn rounded-pill shadow">
            <i class="fas fa-book-reader"></i><%= postProduct.bookmarks.count %>
          </div>
          <div class="card-body">
            <!--何もなしリンク　stretched-linkでカード全体をリンクにしている-->
            <%= link_to post_product_path(postProduct.id),data: {"turbolinks" => false}, class: "stretched-link no-underline" do %>
            <% end %>
            <h5 class="card-title ml-4 mt-4 pt-2">
              <%= postProduct.productName %>
            </h5>
            <!--simple_format 改行が反映される-->
            <div class="line-clamp ml-4 card-text">
              <%= simple_format postProduct.message %>
            </div>
            <span class="readMore">read more</span>
            <div class="updatedAt">
              <%= (Date.today - postProduct.updated_at.to_date).to_i.to_s %>日前
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="row">
    <%= link_to "read all", post_products_path, class: "btn btn--blue_dark mx-auto my-5 pt-3 topReadAllBtn"%>
  </div>

  <div class="row mx-auto home_text">
    <div class="col-5 col-md-12 col-lg-5">
      <div class="title--bold top-title text-color">
        ecoに関するものを。<br/>
        お気に入りを記録し<br/>
        他の方のお気に入りを参考にしてください。
      </div>
    </div>
    <div class="col-7 col-md-12 col-lg-7 top-text text-color">
      <p>
      　現在の経済システムの性質では、
      より広告にお金をかけたもの・良いイメージを作り上げたものがより多くの人の目に触れます。<br/>
      　自分のお気に入りの製品を記録し、それを他の人が見ることで間接的に本当にいいものをお勧めすることになります。
      それは本当にいい製品を作り環境に配慮している企業が評価されることに繋がります。
      ゆくゆくは社会を変えることにも繋がると信じています。<br/>
      　あなたのお気に入りのものを記録する場所として、
      他の方のお気に入りを参考に新たな素晴らしいものとの出会いの場所として使っていただけると嬉しいです。
      </p>
    </div>
  </div>
  <div class="row py-5 top-number-users-area">
    <div class="col col-md-2 col-lg-2 ml-auto text-right">
      <h2 class="top-number-users">
        <% @endUserCount.each do |count| %><%= count.id %><% end %>人
      </h2>
    </div>
    <div class="col col-md-6 col-lg-5 mr-auto"><h2 class="top-number-users-text">The number of users</h2></div>
  </div>
</div>
