<!--index.html.erb-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-8 mt-5 mx-auto">
      <% @end_users.each do |end_user| %>
      <table class="table table-borderless table-hover">
        <tbody>
          <tr id="follow_<%= end_user.id %>">
            <td class="table-profile-pic">
              <%= link_to end_user_path(end_user.id) do %>
                <%= attachment_image_tag end_user, :profile_pic, fallback:"noimage.jpg", class:"rounded-circle profile-pic" %>
              <% end %>
            </td>
            <td class="end-user-index-nickname table-nickname">
              <%= link_to end_user_path(end_user.id) do %>
                <%= end_user.nickname %>
              <% end %>
            </td>
            <td class="text-right table-relationship">
              <p class="relationship">
                <%= render "end_user/relationships/relationship", end_user: end_user %>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>