<!DOCTYPE html>
<html>
  <head>
    <title>EcoShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>-->

  </head>

  <body>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <% if end_user_signed_in? %>
          <li class="nav-item">
            <%= link_to "current_end_user", end_user_path(current_end_user), class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "end_users", end_users_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "post_product", post_products_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "post_product_new", new_post_product_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "logout", destroy_end_user_session_path, method: :delete, class:"nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "signup", new_end_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "login", new_end_user_session_path, class:"nav-link" %>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>



    <%= yield %>
  </body>
</html>
