<!DOCTYPE html>
<html>
  <head>
    <title>EcoShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>-->
  </head>
  <div class="wrapper">
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col col-md-6 col-lg-4 mx-auto my-3">
          <%= link_to root_path do %>
            <div class="logo_image mx-auto">
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col py-2 mx-auto border-top border-bottom">
          <nav class="navbar navbar-light navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto justify-content-center">
                <% if end_user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "マイページ", end_user_path(current_end_user),data: {"turbolinks" => false}, class:"nav-link" %>
                  </li>
                  <!--data: {"turbolinks" => false} 遷移先ページのみturbolinksを切る-->
                  <li class="nav-item">
                    <%= link_to "ユーザー", end_users_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", post_products_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "logout", destroy_end_user_session_path, method: :delete, class:"nav-link" %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "endUsers",  admins_end_users_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "postProducts",  admins_post_products_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "logout", destroy_admin_session_path, method: :delete, class:"nav-link" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "signup", new_end_user_registration_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "login", new_end_user_session_path, class:"nav-link" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <body>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%= yield %>
    <footer class="footer">
    </footer>
  </body>
  </div>
</html>

